.donation-box {
  box-shadow: 0 3px 10px #7a4579;
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
}

.donation-rows {
  margin-top: 50px;
  column-gap: 20px;
  margin-bottom: 50px;
  justify-content: center;
}

.donation-rows .donation-box p {
  padding-top: 10px;
}

.donation-rows:nth-child(1) .donation-box:nth-child(1) {
  background: #ff3c36;
  color: white !important;
}

.donation-rows:nth-child(1) .donation-box:nth-child(2) {
  background: #ffdd00;
}
.donation-rows:nth-child(1) .donation-box:nth-child(3) {
  background: #ff3c36;
  color: white !important;
}

.donation-rows:nth-child(2) .donation-box:nth-child(1) {
  background: #ffdd00;
}

.donation-rows:nth-child(2) .donation-box:nth-child(2) {
  background: #ff3c36;
  color: white !important;
}
