.donation-box {
  box-shadow: 0 3px 10px #7a4579;
  padding: 50px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  max-width: 500px;
}

.donation-rows {
  column-gap: 20px;
  justify-content: center;
}

.donation-rows .donation-box p {
  padding-top: 10px;
}

.donation-rows:nth-child(1) .donation-box:nth-child(1) {
  background: #ff3c36;
  color: white !important;
}

.donation-rows:nth-child(1) .donation-box:nth-child(2) {
  background: #ffdd00;
}
.donation-rows:nth-child(1) .donation-box:nth-child(3) {
  background: #ff3c36;
  color: white !important;
}

.donation-rows:nth-child(2) .donation-box:nth-child(1) {
  background: #ffdd00;
}

.donation-rows:nth-child(2) .donation-box:nth-child(2) {
  background: #ff3c36;
  color: white !important;
}

/*till 1110px*/
@media screen and (max-width: 1110px) {
  .donation-box {
    flex: 1 0 40%;
    max-width: 80%;
  }
}

/*till 980px*/
@media screen and (max-width: 980px) {
  .donation-box {
    max-width: 90%;
  }

  .donation-rows {
    flex-direction: row !important;
  }
}

/*till 800px*/
@media screen and (max-width: 800px) {
  .donation-box {
    flex: 1 0 50%;
  }
}
