.donateFoodHeader,
.donateEduHeader {
  width: 100% !important;
}

.eduHeader {
  width: 100%;
}
.hideFormButton {
  color: white;
  width: 50%;
  text-align: right !important;
  /* margin-left: 550px; */
}

.DonationFormHeader {
  width: 1050px;
}
@media screen and (max-width: 980px) {
  .DonationFormHeader {
    width: 650px;
  }
}
@media screen and (max-width: 550px) {
  .DonationFormHeader {
    width: 450px;
  }
}
.hideFormButton:hover {
  color: black;
}

.food-body,
.meetSchedBody,
.eduBody {
  background: #ffdd00;
}

.donationFields,
.datePickerMeeting {
  opacity: 0.7;
}

.food-header,
.food-footer,
.meetSchedHeader,
.meetSchedFooter,
.eduHeader,
.eduFooter {
  background: #ff3c36;
  color: white;
}

.food-button,
.food-button:hover,
.food-button:corner-present,
.timeSlot,
.timeSlot:hover,
.timeSlot:corner-present,
.submitButtonMeetSched,
.submitButtonMeetSched:hover,
.submitButtonMeetSched:corner-present,
.donateEduButton,
.donateEduButton:hover,
.donateEduButton:corner-present {
  background: #7a4579;
  border: none;
  color: white;
}
